<!DOCTYPE html>
<html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:include="include :: head"></div>
<body>
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>同城活动管理</h5>
            <div class="ibox-tools">
                <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                </a> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
                    class="fa fa-wrench"></i>
            </a>
                <a class="close-link"> <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div id="toolbar">
                    <a class="btn btn-primary" id="add">
                        <i class="fa fa-plus"></i> 创建活动
                    </a>
                </div>
                <div class="example">
                    <table id="allBlog" data-mobile-responsive="true" class="fa-border">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/static/common/activityTable.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        selectAll();
    });
    $("#add").click(function (resp) {
        layer.open({
            type: 2,
            area: ['75%', '75%'], //宽高
            maxmin: true,
            shadeClose: true,   //点击遮罩关闭
            btn: ['确定', '关闭'],
            //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
            content: '/activity/add'
            , yes: function (index, layero) {
                var obj = $(layero).find("iframe")[0].contentWindow;
                $.ajax({
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "/activity/addSubmit",//url
                    timeout: 5000, //通过timeout属性，设置超时时间
                    data: obj.$('#form-post-add').serialize(),
                    success: function (result) {
                        console.log(result);
                        if (result.status == 200) {
                            layer.close(index);
                            layer.msg('修改成功', {icon: 1});
                        } else if (result.status == 500) {
                            layer.alert(result.msg);
                        }
                    },
                    complete: function (XMLHttpRequest, status) { //请求完成后最终执行参数
                        if (status == 'timeout') {//超时,status还有success,error等值的情况
                            layer.close(index);
                            layer.msg('请求超时');
                        }
                    }
                })
            }, btn2: function () {
                layer.closeAll();
            }
        });
    })
</script>
</body>
</html>
